@import "layout.css";

/* h2 {
  text-align:center;
  color:#003366;
  font-family: "Aileron Light";
  font-size: 50px;
  margin: 20px;
} */

/*
CSS PROJECTS FORM PAGE
*/

/* div.container {
  border:2px solid #ccc;
  border-radius: 15px;
   height: 35em; 
  align-content: center;
   overflow-y: scroll;
  width:50%;
  margin: 0px 25% ;

  background-color: rgba(0, 68, 173, 0.3);

} */

#googleForm {
  /*margin-left: auto;/*
  /*margin-right: auto;*/
  text-align: center;
}
